/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =============================================================================
Link styles
========================================================================== */

a:link {text-decoration:none; color: #3AAED7; -webkit-transition: all 150ms linear; -moz-transition: all 150ms linear; text-shadow: 0 0 4px rgba(73, 97, 198, 0); padding: 0px 1px;} /* Remember to turn off transition for any links or sliding door technique links where this doesn't work */

a:visited {text-decoration: none; color: #3AAED7;}

a:hover {
	text-decoration:none;
	color: #fff;
	background: #ff0000;
	text-shadow: 0 0 6px #000;}

a:focus {color: #fff; background: #13671b;} /* For usability, check the homepage style section too */

/* =============================================================================
Container Styles
========================================================================== */

#container {
	width: 100%;
	margin: auto;
	position: relative;
	z-index: 1;
}

div#slideshow {
	width: 100%;
	height: 100%;
	padding: 0px;
	overflow: hidden; 
	position: relative;
	z-index: 2;
	margin: 0px auto;
}

/* =============================================================================
Slides over-ride - fits height to page
========================================================================== */

#slides li {position: relative !important; }


/* =============================================================================
Navigation controls
========================================================================== */
		
a#prev, a#next {
	display: block;
	position: absolute;
	cursor: pointer;
	z-index: 15;
	text-indent: -9999px;
	background: none;
	width: 50%;
	height: 100%;
		}		

a#prev {
	float: left;
	left:0px;
		}
		
a#next {
	float: right;
	right:0px;
		}

/* =============================================================================
Index Navigation
========================================================================== */

ul#pager {
	margin: 0 auto;
	padding-top: 2em;
	width: 90%;
	}

ul#pager li { 
	margin: 0em 2em 1em;
	position: relative;
	z-index: 101;}

ul#pager li img {
	}
	
ul#pager li:last-child {display: none !important;}

li.pager {z-index: 100 !important;}
